[core]
	excludesfile = ~/.gitignore_global

[init]
	defaultBranch = main

[include]
	path = ~/.gitconfig.work

[includeIf "gitdir:~/Projects/work/"]
	path = ~/.gitconfig.work

[includeIf "gitdir:~/Projects/personal/"]
	path = ~/.gitconfig.personal

[pull]
	rebase = false

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

[commit]
        gpgsign = true
[gpg]
        format = ssh
[user]
        signingkey = $HOME/.ssh/id_ed25519.pub
